body {
  
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(218, 237, 242);
  font-family: 'Nunito', sans-serif;
  
}
h4 {
  margin: 0;
  text-align: center;
}
p {
  margin: 0;
  text-align: center;
}
.nobull {
  list-style: none;
}

.eventSpace {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: rgb(187, 216, 223);
  width: 90%;
  height: 200px;
  margin: auto;
  border-radius: 5px;
  padding: 10px 10px;
}

.commentSpace {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: rgb(187, 216, 223);
  width: 80%;
  
  margin: 10px auto;
  border-radius: 5px;
  
}

.headerSpace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(130, 177, 189);
  width: 90%;
  height: 30px;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px 10px;
}

.header2Space {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(167, 188, 193);
  width: 90%;
  height: 30px;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px 10px;
}

.imageSpace {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.imgSize{
  height: auto;
  width: 180px;
}

.descriptionSpace {
  padding:20px;
}

.priceSpace {
  padding:2px;
}

.dateSpace {
  padding:2px;
}

button {
  
  display: inline-block;
  border: none;
  border-radius: 5px;
  margin: 0;
  text-decoration: none;
  background: #05495e;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  
}

input {
  width: 120%;
  padding: 6px 30px;
  margin: 8px 0;
  box-sizing: border-box;
}

.green{
  background-color: rgb(31, 145, 31);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.red{
  background-color: red;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.yellow{
  background-color: yellow;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.page-numbers {
  list-style: none;
  display: flex;
}

.page-numbers > li {
  margin-right: 0.3em;
  color: rgb(6, 60, 94);
  user-select: none;
  cursor: pointer;
}