body {
  /* background: #ecf0f1; */
  box-sizing: border-box;
  background: #000000;
  padding: 1.23em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.nobull {
  list-style: none;
}

.containerSpace {
  background-color: black;
  min-width:330px;
  display: grid;   
  grid-gap: 10px; 
  grid-template-columns: repeat(1, 1fr);
}

.gridSpace {
  background-color: rgb(0, 0, 0);
  color: white;
  grid-column: span 1;
}

/* ///////////LOGIN, SEARCH AND HOME LINK ////////////////////*/

.headerSearchLogin{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;

  
}

/* All Events link*/
.allEventsLink{
  height:22px;
}
.allEventsLink a:link{
  color: aliceblue;
}
/* SEARCH FORM */
.searchFormSpace {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.searchFormSpace > form {
  /* max-width: 100px; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.inputSearchForm{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  width: 100px;
  margin: 0 !important;
  padding: 3px 5px;
  border: none;
  border-radius: 1px;
  /* box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2) */
}
.searchButton{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 1px;
  height: 100%;
  /* box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2) */
}

.searchButton .material-icons{
  color: rgb(255, 255, 255);
  font-size: 17px;
  text-align: center;
}

/*Login Button Space*/
.eventLoginFields {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
 }

.loginButtonSpace{
  width: 60px;
  height:22px;
}

.loginText {
  color: white;
  font-size: 8px;
  text-align: center;
  font-family: 'Nosifer', cursive;
  font-size: 10px;
} 

.eventLoginFields > p {
  font-family: 'Nosifer', cursive;
  font-size: 10px;
  color: white;
  margin: 0;
}

/* Header Title*/
.headerSpace {
  background-image: url("../images/metal-3726995_1920.jpg");
  background-size: cover;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: rgba(0,0,0);
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.eventsHeader{
  display: flex;
  width: 100%;  
  min-height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Nosifer', cursive;
  opacity: 1;
  font-size: 32px;
  padding: 0 20px;
  background-color: rgba(0,0,0,0.3);
}
.eventsSubHeader{
  font-size: 10px;
}

/*//////////// EVENTS-CONTAINERS ////////////////*/
.eventSpace{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: rgb(255, 255, 255);
  box-shadow: rgba(255,255,255,0.2) 0px 1px 2px, inset rgba(255,255,255,0.2) 0px 0px 1px;
  /* box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19); */
}

.titleSpace {
  display: flex;
  justify-content: center;
}

.eventNameLink{
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;
  min-height: 50px;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 1));
  position: relative;
  width: 100%;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.imageSpace {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  height: 170px;
  background-color: rgb(0, 0, 0);
}

.imgSize{
  max-width: 200px;
  height: 100px;
}

.descriptionSpace {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  color: white;
}

.descriptionSpace > p {
  margin: 0 2px;
}

.priceSpace {
  display: flex;
  text-align: center;
  margin-top: 10px;

}
.priceSpace > p {
  margin: 0 2px;
}
.priceSpace > h4 {
  margin: 0 5px;
}

.dateSpace {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.nameButtonSpace{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 8px;
  height: 30px;
}

.authorSpace{
  display: flex;
  justify-content: flex-end;  
  margin-bottom: 10px;
}
/* BUTTONS */
.buttonEvent{
  font-size: 12px;
  padding: 3px;
  margin-right: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2)
}
.buttonEvent:active{
  box-shadow: none
}
.nameButtonSpace2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 11px;
  padding:5px;
  margin: 0;
}
.nameButtonSpaceContainer{
display: flex;
justify-content: space-between;
margin-top: 15px;
}
/* FORMS EVENTS */

.formSpace {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px;
}
input {
  width: 100%;
  padding: 6px 30px;
  margin: 8px 0;
  box-sizing: border-box;
}

.formButton {
  display: flex;
  justify-content: center;
  width: 30%;
  color: white;
  outline: none;
  background-color:rgb(0, 0, 0);
  padding: 6px 30px;
  margin-top: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0px 4px 3px rgba(255, 255, 255, 1)
}

.formButton:active{
  box-shadow: 0 0px 10px 3px rgba(255, 255, 255, 1);
}

/* LOGIN AND SIGNUPFORM */
.signUpLogIn{
  display: flex;
  justify-content: center;
}

.loginBox{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  padding: 20px;
}

.loginSpace{
  display: flex;
  flex-direction: column;
  padding:20px;
}

.loginButton{
  display: flex;
  justify-content: center;
  margin-top: 20px!important;
  background-color: #000000;
  padding:8px;
  outline: none;
}

.signUpAccount{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signUpLink{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(65, 65, 65);
}

.signupButton{
  padding: 8px;
}

input:invalid:required {
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 221, 221));
}

/*//////////////GENERAL BUTTONS ADD EVENT LOGIN etc/////////////////*/

.eventText {
  background-color: rgb(53, 52, 52);
  padding: 5px;
  font-size: 12px;
} 

.buttonField  {  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; 
  position: relative;
  width: 100%;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  margin: 0;
}

button.buttonField{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonField.signupButton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonField2  {  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; 
  position: relative;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.eventButtonSpace2{
  display: flex; 
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}

.buttonField:active{
  box-shadow: none ;
  transform: translateY(4px);
  
} 

.buttonField2:active{
  box-shadow: none ;
  transform: translateY(4px);
  
} 

.removeForm{
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Nosifer', cursive;
  font-size: 10px;
}

/* ///////NEXT PAGE BUTTONS///// */
.buttonSpace {
  font-family: 'Nosifer', cursive;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagesButton{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.2); 
}

.pagesButton:active{
  box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2)
}


/* MEDIA QUERIES */

@media (min-width: 640px) {
  .containerSpace {
    min-width: 600px;
    display: grid;   
    grid-gap: 20px; 
    grid-template-columns: repeat(2, 1fr);
  }
  .gridSpace {
    grid-column: span 2;
  }
  .headerSpace{
    height: 300px;
  }
  
}
@media (min-width: 940px) {
  .containerSpace {
    min-width: 900px;
    max-width: 1140px;
    display: grid;   
    grid-gap: 20px; 
    grid-template-columns: repeat(3, 1fr);
  }
  .gridSpace {
    grid-column: span 3;
  }
  .headerSpace{
    height: 300px;
  }
}

