body {
  background: #ecf0f1;
  padding: 1.23em;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
}

.nobull {
  list-style: none;
}

.containerSpace {
  min-width:330px;
  display: grid;   
  grid-gap: 10px; 
  grid-template-columns: repeat(1, 1fr);
}

.gridSpace {
  grid-column: span 1;
}

/* ///////////LOGIN, SEARCH AND HOME LINK ////////////////////*/

.headerSearchLogin{
  display: flex;
  justify-content: space-between;
  
}
.eventLoginSearch{
  width: 32%;
  height: 70px;
}

/* All Events link*/
.allEventsLink{
  width: 80px;
  height:22px;
}

/* SEARCH FORM */
.searchFormSpace {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.searchFormSpace > form {
  max-width: 100px;
}

.inputSearchForm{
  margin: 0;
  margin-bottom: 2px;
  padding: 3px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2)
}
.searchButton{
  width: 100px;
  background-color: black;
  border-radius: 5px;
  color: white;
  height: 22px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2)
}

/*Login Button Space*/
.eventLoginFields {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height:70px;
 
 }
.loginButtonSpace{
  width: 60px;
  height:22px;
}

.loginText {
  font-size: 14px;
} 

.eventLoginFields > p {
 margin: 0;
}

/* Header Title*/
.headerSpace {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: black;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*//////////// EVENTS-CONTAINERS ////////////////*/
.eventSpace{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.titleSpace {
  display: flex;
  justify-content: center;
}
.eventNameLink{
  width:250px;
  height: 50px;
  margin: 20px;
}
.imageSpace {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100px;
  background-color: rgb(0, 0, 0);
}

.imgSize{
  max-width: 200px;
  height: 100px;
}

.descriptionSpace {
  padding-top: 5px;
  padding-bottom: 15px;
  height: 50px;
}
.descriptionSpace > h4 {
  margin: 0;
  text-align: center;
}

.priceSpace {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  padding:10px;
  height: 30px;
  background-color: rgb(220, 220, 220);
}
.priceSpace > p {
  margin: 0;
}
.priceSpace > h4 {
  margin: 0;
}

.dateSpace {
  background-color: rgb(220, 220, 220);
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  padding:2px;
  height: 35px;
}
.dateSpace > p {
  margin: 0;
}

.nameButtonSpace{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  height: 30px;
}
/* BUTTONS */
.buttonEvent{
  font-size: 12px;
  padding: 3px;
  margin-right: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2)
}
.buttonEvent:active{
  box-shadow: none
}
.nameButtonSpace2 > h6{
  background-color: rgb(213, 213, 213);
  padding:5px;
  margin: 0;
}

/* FORMS EVENTS */

.formSpace {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px;
}
input {
  width: 100%;
  padding: 6px 30px;
  margin: 8px 0;
  box-sizing: border-box;
}

.formButton {
  display: flex;
  justify-content: center;
  width: 30%;
  color: white;
  outline: none;
  background-color:rgb(0, 0, 0);
  padding: 6px 30px;
  margin-top: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0px 4px 3px rgba(255, 255, 255, 1)
}

.formButton:active{
  box-shadow: 0 0px 10px 3px rgba(255, 255, 255, 1);
 
}

/* LOGIN AND SIGNUPFORM */

.loginBox{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
}
.loginSpace{
  display: flex;
  flex-direction: column;
  padding:20px;
}
.loginButton{
  margin-top: 10px;
  background-color: #ecf0f1;
  padding:8px;
  outline: none;
}
.signUpAccount{
  display: flex;
  justify-content: center;
}

.signUpLink{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
 
}
.signupButton{
  padding: 8px;
}
input:invalid {
  border: 0.1px dashed rgb(159, 0, 0);
}

input:invalid:required {
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 221, 221));
}

input:valid {
  
}

/*//////////////GENERAL BUTTONS ADD EVENT LOGIN etc/////////////////*/
.eventButtonSpace2{
  width: 113px;
  height:32px;
}
.eventText {
  font-size: 14px;
} 

.buttonField  {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.3)
}

.buttonField:active{
  box-shadow: none ;
  transform: translateY(4px);
  
} 



/* ///////NEXT PAGE BUTTONS///// */


.buttonSpace {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagesButton{
  font-size: 13px;
  width:90px; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: rgb(99, 99, 99);
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.2); 
  
}

.pagesButton:active{
  box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2)
}


/* MEDIA QUERIES */

@media (min-width: 640px) {
  .containerSpace {
    min-width: 600px;
    display: grid;   
    grid-gap: 10px; 
    grid-template-columns: repeat(2, 1fr);
  }
  .gridSpace {
    grid-column: span 2;
  }
  
}
@media (min-width: 940px) {
  .containerSpace {
    min-width: 900px;
    display: grid;   
    grid-gap: 10px; 
    grid-template-columns: repeat(3, 1fr);
  }
  .gridSpace {
    grid-column: span 3;
  }
}




/* ////////////////Button Animation Background: Add Event and login////////////////


.backgroundButtonLogin{
  height: 500%;
  width:170%;
}
.backgroundButtonEvent{
  height: 600%;
  width:170%;
}
.backgroundButtons {
  opacity: 0;
  position: absolute;
  top: 40%;
  left: -40%; 
  border: none;
  outline: none;
  border-radius: 42%;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0,1);
  background-color: rgb(0, 0, 0);
}
.buttonField:hover >  .backgroundButtons{
  opacity: 0.3;
  animation:slidebg 20s linear infinite;
} 
@keyframes slidebg {
  to {
    transform: rotate(360deg);
  }
}  */

